@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-b from-blue-900 to-blue-700 bg-[url('./img/background.jpg')] bg-fixed bg-cover bg-no-repeat text-white mx-4 md:mx-20 relative m-0;
    min-height: 100vh;
    /* min-height: calc(var(--vh, 1vh) * 100); */
}

.fade-in-text{
    margin-top: 180px;
    animation-name: show;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fade-box {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.glass_morph {
    @apply max-w-sm md:max-w-[24rem] flex flex-col justify-center mx-auto px-7 rounded-lg mb-12;
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.inner_glass{
    @apply rounded-xl p-3 mb-5 text-xs flex flex-nowrap;
    background: rgba(0, 0, 0, 0.3);
}

.btn{
    @apply bg-[#ECAB03] px-4 py-2 rounded font-semibold flex justify-center content-center;
}

.float_1{
    animation: float 3.4s ease-in-out infinite;
}

.float_2 {
    animation: float 3.8s ease-in-out infinite;
}

.stars {
    position: absolute;
    bottom: 46%;
    left: 15%;
    @apply absolute -z-40 bottom-12;
    animation-name: fly-up-burnout-1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    left: 45%;
}

.stars:nth-of-type(2n) {
    @apply absolute -z-40 bottom-12;
    animation-name: fly-up-burnout-2;
    animation-duration: 8.4s;
    animation-delay: 5s;
    left: 38%;
}

.stars:nth-of-type(3n) {
    @apply absolute -z-40 bottom-12 left-[5%] sm:left-[30%] md:left-[45%] lg:left-[50%];
    animation-delay: 1.9s;
    animation-duration: 10s;
}

.stars:nth-of-type(4n) {
    @apply absolute -z-40 bottom-12 left-[40%] sm:left-[36%] md:left-[45%] lg:left-[58%];
    animation-delay: 2.6s;
    animation-duration: 8s;
    left: 58%;
}

.stars:nth-of-type(5n) {
    @apply absolute -z-40 bottom-12;
    animation-delay: 1.4s;
    animation-duration: 9s;
    left: 47%;
}

.stars:nth-of-type(6n) {
    @apply absolute -z-40 bottom-12;
    animation-delay: 2.1s;
    animation-duration: 15s;
    left: 52%;
}

.stars:nth-of-type(7n) {
    @apply absolute -z-40 bottom-12 left-[80%] sm:left-[88%] md:left-[62%] lg:left-[50%];
    animation-delay: 1.7s;
    animation-duration: 12s;
}

.lights{
    @apply fixed -bottom-[50%] left-[50%] -z-[60] opacity-50 min-w-max max-w-none sm:w-[80v] lg:w-[70vh];
    animation-name: spin;
    animation-duration: 60000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (max-height: 750px) {
    .lights {
        width: var(--length);
        min-width: auto;
    }
}

.coin-pot{
    animation-name: coins-up;
    animation-duration: 1s;
    animation-timing-function: linear
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-80px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes spin {
    
    from {
        transform: translate(-50%) rotate(0deg) ;
    }

    to {
        transform: translate(-50%) rotate(-360deg);
    }
}



@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-80px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-80px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes fly-up-burnout-1 {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    33% {
        transform: translate(14px, -7px);
    }

    66% {
        transform: translate(-13px, -180px);
        opacity: .6;
    }

    100% {
        transform: translate(6px, -290px);
        opacity: 0;
    }
}

@keyframes fly-up-burnout-2 {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-18px, -80px);
    }

    80% {
        transform: translate(-40px, -160px);
        opacity: .6;
    }

    100% {
        transform: translate(-6px, -260px);
        opacity: 0;
    }
}

@keyframes coins-up {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    50% {
        transform: translate3d(0, 50%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes show {
    0% {
        margin-top: 180px;
    }

    5% {
        margin-top: 180px;
    }

    33% {
        margin-top: 90px;
    }

    38% {
        margin-top: 90px;
    }

    66% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes fade {
    0% {
        margin-top: 220px;
        opacity: 0;
    }

    5% {
        margin-top: 180px;
        opacity: 0.3;
    }

    33% {
        margin-top: 110px;
        opacity: 0.4;
    }

    38% {
        margin-top: 90px;
        opacity: 0.5;
    }

    86% {
        margin-top: 0px;
        opacity: 1;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}